{% load i18n %}
<!--- Contact ------>
<div id="contact" class="contact">
    <div class="container">
        <div class="row">
            <h2 class="wow fadeInUp">{% trans "Contact" %}</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4">{% trans "Send Us Your Questions Or Queries So we can get back to you." %}</p>

            <form method="post" action="{% url 'index' %}">

                {% csrf_token %}
                <div class="col-lg-6 col-md-6">
                    <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="0.8s">
                        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="name" aria-describedby="sizing-addon1"
                               placeholder="{% trans 'Full Name' %}" required>
                    </div>


                    <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.2s">
                        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope"
                                                                              aria-hidden="true"></i></span>
                        <input type="email" class="form-control" required name="sender" aria-describedby="sizing-addon1"
                               placeholder="{% trans 'Email Address' %}">
                    </div>


                    <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.6s">
                        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone"
                                                                              aria-hidden="true"></i></span>
                        <input type="number" name="number" class="form-control" aria-describedby="sizing-addon1"
                               placeholder="{% trans 'Phone Number' %}" required>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6">
                    <div class="input-group wow fadeInUp" data-wow-delay="2s">
                        <textarea name="message" id="" cols="80" rows="6" class="form-control"
                                  placeholder="{% trans 'Enter Your Message' %}" required></textarea>
                    </div>
                    <button class="btn btn-lg wow fadeInUp" data-wow-delay="2.4s">{% trans "Submit Your Message" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!---- End Contact ----->